config.req.php

/images/manga
/images/avatars
/images/lists
/images/groups
/images/covers
/images/banners

/data
/data-drama
/data-saver
/delete
/dl/*
/transferred

/vendor
/node_modules

sitemap.xml

/db/
/dist/*
phpunit.xml
/.idea
.env*.local
composer.phar
